
        .boxs input{ 
            padding: 10px; 
            width: 200px;
        } 
        i{ 
            margin: 10px;
        }
        .btn{ 
            width: 223px; 
            height:38px ;
            color:white;
            background-color:rgb(161, 122, 122);
        }
        .forms{ 
            margin:150px 0px 0px 500px; 
            border:1px solid;
            width:230px;
            padding:30px;  
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(120, 117, 117, 0.5);

        } 
        #login{ 
            color: rgb(125, 115, 158);
        }
        .links i:hover{ 
            color:rgb(161, 108, 120);
        }
        @media screen and (max-width:650px) {
            .forms{ 
                margin:120px 0px 0px 66px;
            }

        }
    
  